[Unit]
Description= Bot to control the building of towers
After=network.target

[Service]
ExecStart=/opt/bot_of_tower/env/bin/python3.9 bot.py
ExecReload=/opt/bot_of_tower/env/bin/python3.9 bot.py
WorkingDirectory=/opt/bot_of_tower/
KillMode=control-group
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
